body {
    width: 100%;
    min-height: 100vh;

    background: #353535;

    color: #e9e9e9;
    font-size: 16em;
    font-family: sans-serif;
}
.win-body {
    background: #2d6c95;
}

#game-infopanel {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/*******************************************/

.luckgame-wrapper {
    width: 70%;
    height: 400px;
    background: #ffffff;
    margin: 0 auto;
}
.luckgame-table {
    width: 100%;
    height: 100%;

}

/*******************************************/

.a-tile {
    width: 100%;
    height: 100%;
    font-size: 0;
    transition: 0.44s ease-out all;
    background-image: url(https://image.flaticon.com/icons/svg/2044/2044822.svg) !important;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.a-tile:hover {
    opacity: 0.9;
    transition: 0.22s ease-in all;
}

/*******************************************/

.a-tile1 {
    background-color: #66a4df;
}

.a-tile2 {
    background-color: #df6666;
}

.a-tile3 {
    background-color: #dfcd66;
}

.a-tile4 {
    background-color: #df66c5;
}

.a-tile5 {
    background-color: #8666df;
}

/*******************************************/


.loser {
    background-color: #db4b5f;
}
.loser:hover {
    background-color: #e66375;
}

/*******************************************/

.winner {
    background-color: #86c43f;
}
.winner:hover {
    background-color: #9cd45c;
}

/*******************************************/



.bt {
    width: 150px;
    height: 50px;
    color: #291a2d;
    font-size: 32px;
    font-weight: bold;
    background-color: #dde4ea;
    border-style: none;
}


.bt-half-after {
    background-color: #5a4755;
}
