html, body {
   margin: 0;
   padding: 0;
   font-size: 12px;
}
body {
   font-family: Arial, sans-serif;
   background-color: #78B946;
}


header, footer, .container {
   background-color: #F0FAD6;
}
