body {
    width: 100%;
    min-height: 100vh;

    background: #353535;

    color: #e9e9e9;
    font-size: 16em;
    font-family: sans-serif;
}
.win-body {
    background: #2d6c95;
}

#game-infopanel {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/*******************************************/

.luckgame-wrapper {
    width: 80%;
    height: 600px;
    background: #ffffff;
    margin: 0 auto;
}
.luckgame-table {
    width: 100%;
    height: 100%;
}

/*******************************************/

.b-tile {
    width: 100%;
    height: 100%;
    font-size: 0;
    transition: 0.44s ease-out all;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.b-tile:hover {
    opacity: 0.9;
    transition: 0.22s ease-in all;
}

.flag {
    background-image: url(https://image.flaticon.com/icons/svg/148/148878.svg) !important;
}
.question {
    background-image: url(https://image.flaticon.com/icons/svg/148/148878.svg) !important;
}

/*******************************************/

.b-tile1 {
    background-color: #66a4df;
}

.b-tile2 {
    background-color: #df6666;
}

.b-tile3 {
    background-color: #dfcd66;
}

.b-tile4 {
    background-color: #df66c5;
}

.b-tile5 {
    background-color: #8666df;
}

/*******************************************/


.loser {
    background-color: #db4b5f;
}
.loser:hover {
    background-color: #e66375;
}

/*******************************************/

.winner {
    background-color: #86c43f;
}
.winner:hover {
    background-color: #9cd45c;
}

/*******************************************/
